@model ContactsApp.Models.SignUpModel
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Sign Up</h3>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-12 text-center">
                Already have an account? <a href="/Login/Index">Sign In</a>
            </div>
        </div><br />
        @using (Html.BeginForm("Index", "SignUp", FormMethod.Post, new { id = "signUpForm" }))
        {
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type="password" })
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Secret)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    @Html.TextBoxFor(m => m.Secret, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    <span style="font-size:10pt">By clicking "Sign Up" button, you are creating an account, and you agree to the Terms of User.</span>
                </div>
            </div>
            if (ViewBag.Error == "")
            {

            }
            else
            {
                <br />
                <div class="row">
                    <div class="col-md-10">
                        <span style="font-size:15pt;">@ViewBag.Error</span>
                    </div>
                </div>

            }
        }
    </div>
    <div class="col-md-4"></div>
</div>
